[Unit]
Description=Check UniFi Protect to Fuzzballs HLS bridge every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=fuzzballs-stream-monitor.service

[Install]
WantedBy=timers.target
